<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Resort_Demo_Project.styles.css" asp-append-version="true" />

    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">
    <!-- Place favicon.ico in the root directory -->
    <!-- CSS here -->
    <link rel="stylesheet" href="css/bootstrap.min.css" asp-append-version="true">
    <link rel="stylesheet" href="css/owl.carousel.min.css" asp-append-version="true">
    <link rel="stylesheet" href="css/magnific-popup.css" asp-append-version="true">
    <link rel="stylesheet" href="css/font-awesome.min.css" asp-append-version="true">
    <link rel="stylesheet" href="css/themify-icons.css" asp-append-version="true">
    <link rel="stylesheet" href="css/nice-select.css" asp-append-version="true">
    <link rel="stylesheet" href="css/flaticon.css" asp-append-version="true">
    <link rel="stylesheet" href="css/gijgo.css" asp-append-version="true">
    <link rel="stylesheet" href="css/animate.css" asp-append-version="true">
    <link rel="stylesheet" href="css/slicknav.css" asp-append-version="true">
    <link rel="stylesheet" href="css/style.css" asp-append-version="true">

    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>
<body>
    <!--[if lte IE 9]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->
    <!-- header-start -->
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid p-0">
                    <div class="row align-items-center no-gutters">
                        <div class="col-xl-5 col-lg-6">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a asp-action="Index" asp-controller="Home">Trang Chủ</a></li>
                                        <li><a href="#">Thông tin</a></li>
                                        <li>
                                            <a href="#">Blog <i class="ti-angle-down"></i></a>
                                            <ul class="submenu">
                                                <li><a href="#">Bài viết</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="#">Địa điểm <i class="ti-angle-down"></i></a>
                                            <ul class="submenu">
                                                <li><a href="#">elements</a></li>
                                                <li><a href="#">elements</a></li>
                                                <li><a href="#">elements</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="#">Đánh giá</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-1 col-lg-1">
                            <div class="logo-img">
                                <a asp-action="Index" asp-controller="Home">
                                    <img src="img/logo2.png" alt="logo" width="80px" height="60px">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-5 d-none d-lg-block">
                            <div class="book_room">
                                <div class="socail_links">
                                    <ul>
                                        <li>
                                            <input hidden type="text" class="form-control" placeholder="Nhập vào tên tỉnh cần tìm" id="seachOk" />
                                        </li>
                                        <li>
                                            <a id="searchS" class="popup-with-form" onclick="search">Tìm kiếm</a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-facebook-square"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-instagram" title="Instagram"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="book_btn d-none d-lg-block">
                                    <a class="popup-with-form" title="Đăng nhập hoặc đăng ký tài khoản">Đăng nhập</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->
    <div>
        @RenderBody()
    </div>
    <!-- footer -->
    <footer class="footer">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Địa chỉ
                            </h3>
                            <p class="footer_text">
                                Hà Nội <br>
                            </p>
                            <!-- <a href="#" class="line-button">Get Direction</a> -->
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Liên hệ
                            </h3>
                            <p class="footer_text">
                                Đang cập nhật sdt<br>
                                Đang cập nhật email
                            </p>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-lg-2">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Điều hướng
                            </h3>
                            <ul>
                                <li><a href="#">Trang chủ</a></li>
                                <li><a href="#">Các khu nghỉ mát</a></li>
                                <li><a href="#">Về chúng tôi</a></li>
                                <li><a href="#">News</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 col-lg-4">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Thông tin
                            </h3>
                            <form action="#" class="newsletter_form">
                                <input type="text" placeholder="Nhập vào email của bạn">
                                <button type="submit">Đăng ký</button>
                            </form>
                            <p class="newsletter_text">Đăng ký để nhận được thông tin mới nhất</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right_text">
            <div class="container">
                <div class="footer_border"></div>
                <div class="row">
                    <div class="col-xl-8 col-md-7 col-lg-9">
                        <p class="copy_right">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                    <div class="col-xl-4 col-md-5 col-lg-3">
                        <div class="socail_links">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-facebook-square"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/goresort_hihi/">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- link that opens popup -->
    <!-- form itself end-->
    <!-- form itself end -->
    <!-- JS here -->
    <script src="js/vendor/modernizr-3.5.0.min.js"></script>
    <script src="js/vendor/jquery-1.12.4.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/ajax-form.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/imagesloaded.pkgd.min.js"></script>
    <script src="js/scrollIt.js"></script>
    <script src="js/jquery.scrollUp.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/nice-select.min.js"></script>
    <script src="js/jquery.slicknav.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/gijgo.min.js"></script>

    <!--contact js-->
    <script src="js/contact.js"></script>
    <script src="js/jquery.ajaxchimp.min.js"></script>
    <script src="js/jquery.form.js"></script>
    <script src="js/jquery.validate.min.js"></script>
    <script src="js/mail-script.js"></script>

    <script src="js/main.js"></script>
    <script>
        $('#datepicker').datepicker({
            iconsLibrary: 'fontawesome',
            icons: {
                rightIcon: '<span class="fa fa-caret-down"></span>'
            }
        });
        $('#datepicker2').datepicker({
            iconsLibrary: 'fontawesome',
            icons: {
                rightIcon: '<span class="fa fa-caret-down"></span>'
            }

        });

        document.getElementById('searchS').onclick = function () {
            // document.getElementById('seachOk').hidden = false;
            var seach = document.getElementById('seachOk');
            var ok = document.getElementsByName('body')
            if (seach.hidden == true) {
                seach.hidden = false;
            } else {
                seach.hidden = true;
            }

        };

    </script>
</body>
</html>
